
@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($flex-grow, $flex-shrink, $flex-basis) {
  -webkit-flex: $flex-grow $flex-shrink $flex-basis;
  -ms-flex: $flex-grow $flex-shrink $flex-basis;
  flex: $flex-grow $flex-shrink $flex-basis;
}

@mixin flex-direction($direction: column) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin align-items-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin justify-content-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin transform-rotate($rotate: 90) {
  -webkit-transform: rotate($rotate + deg);
  -ms-transform: rotate($rotate + deg);
  transform: rotate($rotate + deg);
}