
@mixin display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($flex-grow, $flex-shrink, $flex-basis) {
  -webkit-flex: $flex-grow $flex-shrink $flex-basis;
  -ms-flex: $flex-grow $flex-shrink $flex-basis;
  flex: $flex-grow $flex-shrink $flex-basis;
}

@mixin flex-direction($direction: column) {
  -webkit-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin align-items-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin justify-content-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

@mixin transform-rotate($rotate: 0) {
  -webkit-transform: rotate($rotate + deg);
  -ms-transform: rotate($rotate + deg);
  transform: rotate($rotate + deg);
}

@mixin transform-ease($ease: 1) {
  -webkit-transition: -webkit-transform $ease + s ease;
  -moz-transition: -moz-transform $ease + s ease;
  -o-transition: -o-transform $ease + s ease;
  transition: transform $ease + s ease;
}

@mixin transform-scale($scale: 1) {
  -webkit-transform: scale($scale);
  -ms-transform: scale($scale);
  transform: scale($scale);
}

@mixin transform-translate3d_rotate($tx:0, $ty:0, $tz:0, $rotate:0) {
  -webkit-transform: translate3d($tx, $ty, $tz) rotate($rotate + deg);
  -ms-transform: translate3d($tx, $ty, $tz) rotate($rotate + deg);
  transform: translate3d($tx, $ty, $tz) rotate($rotate + deg);
}