
/* NAVBAR */
.navbar-dark .navbar-brand {
    font-family: $base-font;
    transition: color 0.5s;

    &:hover {
        color: #838351;
        transition: color 1s;
    }
}

.navbar-brand {
    font-size: 1.8rem;

    @media only screen and (max-width: 376px) {
        font-size: 1.5em;
    }

    > img {
        width: 50px;

        @media only screen and (max-width: (($breakpoint-md) - 1)) {
            width: 35px;
        }
    }
}

.navbar-toggler:hover {
    cursor: pointer;
}

$menu-icon-line-height: 2px;
$menu-icon-line-space: 6.4px;
$menu-icon-line-offsetY: $menu-icon-line-height + $menu-icon-line-space;
$menu-icon-height: (3 * $menu-icon-line-height) + (2 * $menu-icon-line-space);
$cubic-bezier-in: cubic-bezier(0.30,1,0.70,1);
$cubic-bezier-out: cubic-bezier(1,0.70,1,0.30);

.navbar-toggler {
    height: 40px;
    width: 56px;
    padding: 0 0.95rem;

    .line-1, .line-2, .line-3 {
        height: $menu-icon-line-height;
        width: 100%;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
        transition: background-color .2s ease-in-out;
    }
    .line-1 {
        animation: animate-line-1-rev .7s ease-in-out;
    }
    .line-2 {
        margin: $menu-icon-line-space 0;
        animation: animate-line-2-rev .7s ease-in-out;
    }
    .line-3 {
        animation: animate-line-3-rev .7s ease-in-out;
    }

    &.active {

        .line-1,
        .line-2,
        .line-3 {
            background-color: #fff;
        }

        .line-1 {
            animation: animate-line-1 .7s $cubic-bezier-in forwards;
        }
        .line-2 {
            animation: animate-line-2 .7s $cubic-bezier-in forwards;
        }
        .line-3 {
            animation: animate-line-3 .7s $cubic-bezier-in forwards;
        }
    }
}

.no-animation {
    -webkit-animation: none !important;
    animation: none !important;
}

@keyframes animate-line-1 {
    0% {
        @include transform-translate3d_rotate;
    }
    50% {
        @include transform-translate3d_rotate(0, $menu-icon-line-offsetY, 0, 0);
    }

    100% {
        @include transform-translate3d_rotate(0, $menu-icon-line-offsetY, 0, 45);
    }
}
@keyframes animate-line-2 {
    0% {
        @include transform-scale;
        opacity: 1;
    }
    100% {
        @include transform-scale(0);
        opacity: 0;
    }
}
@keyframes animate-line-3 {
    0% {
        @include transform-translate3d_rotate;
    }
    50% {
        @include transform-translate3d_rotate(0, -$menu-icon-line-offsetY, 0, 0);
    }

    100% {
        @include transform-translate3d_rotate(0, -$menu-icon-line-offsetY, 0, 135);
    }
}
@keyframes animate-line-1-rev {
    0% {
        @include transform-translate3d_rotate(0, $menu-icon-line-offsetY, 0, 45);
    }
    50% {
        @include transform-translate3d_rotate(0, $menu-icon-line-offsetY, 0, 0);
    }

    100% {
        @include transform-translate3d_rotate;
    }
}
@keyframes animate-line-2-rev {
    0% {
        @include transform-scale(0);
        opacity: 0;
    }
    100% {
        @include transform-scale;
        opacity: 1;
    }
}
@keyframes animate-line-3-rev {
    0% {
        @include transform-translate3d_rotate(0, -$menu-icon-line-offsetY, 0, 135);
    }
    50% {
        @include transform-translate3d_rotate(0, -$menu-icon-line-offsetY, 0, 0);
    }

    100% {
        @include transform-translate3d_rotate;
    }
}

.nav-round-links {
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: .15rem;
    margin-right: .15rem;
    font-size: .85rem;
    min-width: 6rem;
    text-align: center;

    &:hover {
        background-color: rgba(131,131,81,1.0);
    }
}
