<!DOCTYPE html>
<!--<html xmlns:th="http://www.springframework.org/schema/mvc">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> </meta>
    <meta charset="utf-8"> </meta>
    <title>Simple markers</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<input type="hidden" th:value="${location}" id="location" />
<div id="map"></div>
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script>
    /*   $(document).ready(function() {
            var obj = JSON.parse($("#location").val())
            var list = ["List D",obj.name];
            $.each(list, function( index, value ) {
                alert( index + ": " + value );
            });
        });*/
</script>


<!--<script>
    $(document).ready(function() {
        var list = ${location};
        $.each(list, function( index, value ) {
            alert( index + ": " + value );
        });
    });
</script>-->

<script type="text/javascript" th:src="@{/js/test_map.js}"></script>
<script async='async' defer='defer' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIWLPDbglXWLa4RutJew14eb3pHVu_kUs&amp;callback=initMap">
</script>
</body>
</html>