<!DOCTYPE html>
<!--<html xmlns:th="http://www.springframework.org/schema/mvc">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> </meta>
    <meta charset="utf-8"> </meta>
    <title>Simple markers</title>
    <link rel="shortcut icon" href="/img/Beer.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />


    <link rel="stylesheet" type="text/css" href="/css/style.css" />

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            /*height: 100%;*/
            height:400px;
            width: 100%;
        }

        #userTagsFilterMap {
            /*height: 100%;*/
            /*height:400px;*/
            height:200px;
            width: 100%;
        }
        #br {
            /*height: 100%;*/
            height:20px;
            width: 50px;
        }
        /*#search-tag-box2 {*/
            /*!*height: 100%;*!*/
            /*!*height:20px;*!*/
            /*width: 100%;*/
        /*}*/

        /* Optional: Makes the sample page fill the window. */
/*       html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }*/
    </style>
</head>
<body>
<div>

</div>

<div class="container">

    <!--<div id="main" class="container">-->
    <div class="row">
        <div id ="navi" class="col-md-12"> </div>
        <div id ="user-profile" class="col-md-12">
            <h2 th:text="${title}">Default Title</h2>
        </div>
        <div id ="forMap" class="col-md-12">
            <div  id="map">
            </div>
        </div>
        <div id ="filter-tags" class="col-md-12">
            <div class="row">

                <div id ="filter1" class="col-md-7">
                    <label th:for="allBeerTags">Tags</label>
                    <select class="js-example-basic-multiple" name="allBeerTags" multiple="multiple" id="multiple-tags-box" style="width: 100%">
                        <option th:each="allTag : ${allBeerTags}"
                                th:text="${allTag.name}"
                                th:value="${allTag.id}">

                        </option>
                    </select>
                </div> <!--id ="filter1" class="col-md-6">-->
                    <div id ="filter2" class="col-md-2">
                    <label >tried/untried</label>
                    <select class="js-example-basic-single" name="tried" style="width: 100%" id="tried-select">
                        <option value="tried">tried</option>
                        <option value="not tried">not tried</option>
                        <option value="all">all</option>
                    </select>
                </div>

                <div id ="filter3" class="col-md-2">
                    <label >Distance</label>
                    <select class="js-example-basic-single" name="distance-select" style="width: 100%" id="distance-select">
                        <option value="1">1 mile</option>
                        <option value="2">2 miles</option>
                        <option value="5">5 miles</option>
                        <option value="10">10 miles</option>
                        <option value="20">20 miles</option>
                        <option value="50">50 miles</option>
                        <option value="500">500 miles</option>
                        <option value="20000">all</option>
                    </select>
                </div> <!--id ="filter2" class="col-md-1>-->


                <div id ="button" class="col-md-1">
                    <form method="post" style="max-width:600px;" >
                    <label > </label>
                    <label > </label>
                        <input type="hidden" th:value="${myPosition}" name="myPosition" id="myPosition"/>
                        <input type="hidden" th:value="${prefTags}" name="prefTags" id="prefTags"/>
                        <input type="hidden" th:value="${tagsForSearch}" name="tagsForSearch" id="tagsForSearch"/>
                        <input type="hidden" th:value="${tried}" name="tried" id="tried"/>
                        <input type="hidden" th:value="${distance}" name="distance" id="distance"/>
                        <input type="submit" class="btn btn-info" value="Search" id="search"/>
                    </form>
                </div> <!--id ="filter2" class="col-md-1>-->

            </div>
        </div>

        </div> <!--class="row"-->


    <div id ="userFilterMapSresults">
        <div id ="userTagsFilterMap">


            <div id ="filter"></div>

        <!--</div> &lt;!&ndash;"userTagsFilter;"&ndash;&gt;-->

    </div> <!--"userTagsFilterMap""-->

        <div id= "searchResults">
        <table class="table">
            <tr>
                <th>Beer name</th>
                <th>in:</th>
                <th>Distance in mi.</th>

            </tr>

            <tr th:each="result : ${searchResults}">

                <td th:text="${result.name}">  </td>
                <td th:text="${result.location.name}">  </td>
                <td th:text="${result.distance} + ' mi.'">  </td>

            </tr>
        </table>
    </div>
    </div> <!--"userFilterMapSresults"-->
    <div id= "bottom"></div>


</div> <!-- class="container"> -->
<input type="hidden" th:value="${locations}" id="locations" />
<input type="hidden" th:value="${userLocation}" id="userLocation" />

<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/js/test_map.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $("#multiple-tags-box").select2({
            placeholder: "Select search terms",
            allowClear: false
        });

        $("#tried-select").select2({

        });

        $("#distance-select").select2({

        });

        var myData = JSON.parse($("#prefTags").val());
        $('#multiple-tags-box').val(myData).trigger('change');

    });

    $("#multiple-tags-box").change(
        function(e) {
            if ($('#multiple-tags-box').select2('val').length == 0){
                $('#search').attr('type', 'hidden');
            }
            else $('#search').attr('type', 'submit');
        });


    $('#search').click(function(e) {
        $('#tags').val($('#multiple-tags-box').select2('val'));
        var myval = $('#multiple-tags-box').select2('val');
        $('#tagsForSearch').val(JSON.stringify(myval));
        $('#tried').val($('#tried-select').select2('val'));
        $('#distance').val($('#distance-select').select2('val'));
        //alert(obj);

    });



</script>

<script async='async' defer='defer' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIWLPDbglXWLa4RutJew14eb3pHVu_kUs&amp;callback=initMap">
</script>

</body>
</html>