html,
body {
    height: 100%;
}
html {
    font-size: 16px;
}
body {
    font-size: 62.5%; /* 1em = 10px */
}
.clearfix {
    clear: both;
}
.nounderline{
    text-decoration: none !important;
}
.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
:focus {
    outline: none;
}
button:focus {
    outline: 3px auto white;
}
#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.bottle-background {
    background-image: url("/img/beer-assortment.jpeg");
    opacity: 0.4;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.success {
    color: green;
}

.navbar-brand {
    font-size: 1.8rem;
}
.navbar-brand > img {
    width: 50px;
}
.navbar-toggler:hover {
    cursor: pointer;
}
.nav-round-links {
    /* border: 1px solid #fff; */
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: .15rem;
    margin-right: .15rem;
    font-size: .85rem;
    min-width: 6rem;
    text-align: center;
}
.nav-round-links:hover {
    background-color: rgba(255,255,255,0.1);
}
#breadcrumbs {
    font-size: 1.5em;
}
.parallax {
    background-image: url("/img/beer-assortment.jpeg");
    opacity: 0.4;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 100%;
    flex: 1 0 auto;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: inherit;
}
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding: .5rem 1rem;
    margin-top: 20px;
    line-height: 60px;
    color: rgba(255,255,255,.5);
    background-color: #343a40;
}
.footer .navbar-nav {
    flex-direction: row;
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;

}
.footer .navbar-nav .nav-item {
    width: 12em;
}
.footer .navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 0.85em;
}
.footer .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255,255,255,1);
}

.login-container {
    margin: 5em auto;
    width: 50%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 25px;

}
.login-form {
    color: black;
}
.login-button,
.beer-game-btn {
    border: none;
    border-radius: 30px;
    padding: 8px 30px;
    margin-left: .15rem;
    margin-right: .15rem;
    font-size: 1rem;
    min-width: 6rem;
    text-align: center;
    background-color: #aaa;
    transition: transform ease 0.3s;
}
.login-button:hover,
.beer-game-btn {
    cursor: pointer;
}
.login-button:hover {
    border: 2px solid #444;
    padding: 6px 28px;
    background-color: #777;
}
.login-button:active,
.beer-game-btn:active {
    transform: translateY(3px);
}
.beer-game-btn {
    display: block;
    margin: 10px auto;
}
.yes-btn {
    background-color: green;
}
.no-btn {
    background-color: red;
}
.found-btn {

}
.beer-decision {
    display: inline-block;
    border: 2px solid black;
    padding: 40px;
}
.form-control {
    color: #222629;
}
.section-1 {
    width: 100%;

    background-color: rgba(255,255,255,0.5);
}
.beer-frame {
    width: 24em;
    border: 2px solid black;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.beer-frame-sm {
    width: 10em;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.beer-frame .beer-image-container {
    background-color: grey;
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-bottom: 2px solid black;

}
.beer-frame-sm .beer-image-container {
    display: inline-block;
    width: 100%;
    text-align: center;
    overflow: hidden;

}
.beer-frame img {
    height: 15.3em;
    margin: 2.5em;
}
.beer-frame-sm img {
    height: 6.3em;
    margin: 1.5em;
}
.beer-frame .beer-details h3 {
    text-align: center;
}
.beer-frame .beer-details {
    padding: 10px;
}
.beer-frame-sm .beer-details {
    padding: 10px;
}
.map {
    width: 40em;
    height: 400px;
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}
.map img {
    width: inherit;
    height: inherit;
}

@media only screen and (max-width: 767px) {
    .navbar-brand > img {
        width: 35px;
    }
    .footer .navbar-nav .nav-item {
        text-align: center;
        width: 100%;
    }
    .footer .navbar-nav .nav-item .nav-link {
        font-size: 0.85em;
        line-height: 0;
    }

}
#map {
    height:400px;
    width: 100%;
}
#title {
    width: 100%;

    background-color: rgba(255,255,255,0.5);
}
