html,
body {
    height: 100%;
}
/*
Remove all blue focus glow*/
/*textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}*/
.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}
:focus {
    outline: none;
}
button:focus {
    outline: 3px auto white;
}
#page-wrapper {
    position: relative;
    min-height: 100%;
}
.bottle-background {
    background-image: url("/img/beer-assortment.jpeg");
    opacity: 0.4;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.success {
    color: green;
}
.navbar-brand {
    font-size: 1.8rem;
}
.navbar-brand > img {
    width: 50px;
}
.navbar-toggler:hover {
    cursor: pointer;
}
.nav-round-links {
    /* border: 1px solid #fff; */
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: .15rem;
    margin-right: .15rem;
    font-size: .85rem;
    min-width: 6rem;
    text-align: center;
}
.nav-round-links:hover {
    background-color: rgba(255,255,255,0.1);
}
.parallax {
        background-image: url("/img/beer-assortment.jpeg");
        opacity: 0.4;
        min-height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.container {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: inherit;
}
.footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: .5rem 1rem;
    line-height: 60px;
    color: rgba(255,255,255,.5);
    background-color: #343a40;
}
.footer .navbar-nav {
    flex-direction: row;
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;

}
.footer .navbar-nav .nav-item {
    width: 12em;
}
.footer .navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 0.85em;
}
.footer .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255,255,255,1);
}

.login-container {
    margin: 5em auto;
    width: 50%;
    max-width: 400px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 25px;

}
.login-form {
    color: black;
}
.login-button {
    border: none;
    border-radius: 30px;
    padding: 8px 30px;
    margin-left: .15rem;
    margin-right: .15rem;
    font-size: 1rem;
    min-width: 6rem;
    text-align: center;
    background-color: #aaa;
}
.login-button:hover {
    cursor: pointer;
    border: 2px solid #444;
    padding: 6px 28px;
    background-color: #777;
}
.form-control {
    color: #222629;
}
.section-1 {
    width: 100%;

    background-color: rgba(255,255,255,0.5);
}

@media only screen and (max-width: 767px) {
    .navbar-brand > img {
        width: 35px;
    }
    .footer .navbar-nav .nav-item {
        text-align: center;
        width: 100%;
    }
    .footer .navbar-nav .nav-item .nav-link {
        font-size: 0.85em;
        line-height: 0;
    }
}
