body {

}
.bottle-background {
    background-image: url("/img/beer-assortment.jpeg");
    opacity: 0.4;
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.success {
    color: green;
}
.navbar-brand {
    font-size: 1.8rem;
}
.navbar-brand > img {
    width: 50px;
}
.navbar-toggler:hover {
    cursor: pointer;
}
.nav-round-links {
    /* border: 1px solid #fff; */
    border-radius: 30px;
    padding: 10px 30px;
    margin-left: .15rem;
    margin-right: .15rem;
    font-size: .85rem;
    min-width: 6rem;
    text-align: center;
}
.nav-round-links:hover {
    background-color: rgba(255,255,255,0.1);
}
.parallax {
        background-image: url("/img/beer-assortment.jpeg");
        opacity: 0.4;
        min-height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
.container {
    padding-top: 80px;
}
.footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    align-items: center;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    padding: .5rem 1rem;
    line-height: 60px;
    color: rgba(255,255,255,.5);
    background-color: #343a40;
}
.footer .navbar-nav {
    flex-direction: row;
    display: flex;
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;

}
.footer .navbar-nav .nav-item {

}
.footer .navbar-nav .nav-item .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgba(255,255,255,.5);
}
.footer .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255,255,255,1);
}

.login-container {
    margin: 5em auto;
    width: 50%;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 25px;

}
.login-form {
    color: black;
}
.login-button {
    border: none;
    border-radius: 30px;
    padding: 8px 30px;
    margin-left: .15rem;
    margin-right: .15rem;
    font-size: 1 rem;
    min-width: 6rem;
    text-align: center;
    background-color: #aaa;
}
.login-button:hover {
    cursor: pointer;
    border: 2px solid #444;
    padding: 6px 28px;
    background-color: #777;
}
.form-control {
    color: #222629;
}