<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
  <thymeleaf th:replace="fragments :: meta" />
  <title>theBeerTracker</title>
</head>

<body>

  <nav th:replace="fragments :: navigation"></nav>

  <div id="page-wrapper">
    <div class="bottle-background"></div>
      <div class="container">
        <h1>About Page</h1>
          <h3 th:text="${version}"></h3>
      </div><!-- /.container -->
    <footer th:replace="fragments :: footer"></footer>
  </div><!--End page-wrapper-->

  <thymeleaf th:replace="fragments :: js-bootstrap" />

</body>
</html>