<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>

    <!-- Navigation Bar Fragment -->
    <nav th:fragment="navigation" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">
            <img src="/img/Beer.ico" />
            <!--<i class="fa fa-beer" aria-hidden="true"></i>-->
            theBeerTracker
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-round-links" th:if="${userName != null}" href="/userhome">USERHOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-round-links" th:if="${userName == null}" href="/login">LOG IN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-round-links" th:if="${userName == null}" href="/register">REGISTER</a>
                </li>
                <li>
                    <a class="nav-link nav-round-links" th:if="${userName != null}" href="/logout">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Breakcrumbs Fragment -->
    <div id="breadcrumbs" th:fragment="breadcrumbs">
        <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back to your homepage</a>
        <div class="clearfix"></div>
    </div>

    <!-- Footer Fragment -->
    <footer th:fragment="footer" class="footer">
        <ul class="navbar-nav row">
            <!--<li class="nav-item col-md-2 col-sm-12 col-xs-12">-->
                <!--<a class="nav-link" href="https://github.com/reichg/theBeerTracker" target="_blank">-->
                    <!--<i class="fa fa-github" aria-hidden="true"></i> theBeerTracker-->
                <!--</a>-->
            <!--</li>-->
            <li class="nav-item col-md-3 col-sm-12 col-xs-12">
                <a class="nav-link" href="https://github.com/mikleg" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i> Mikle Gorbunov
                </a>
            </li>
            <li class="nav-item col-md-3 col-sm-12 col-xs-12">
                <a class="nav-link" href="https://github.com/loveomlet" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i> Stephan Jones
                </a>
            </li>
            <li class="nav-item col-md-3 col-sm-12 col-xs-12">
                <a class="nav-link" href="https://github.com/reichg" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i> Gabe Reichenberger
                </a>
            </li>
            <li class="nav-item col-md-3 col-sm-12 col-xs-12">
                <a class="nav-link" href="https://github.com/Robert1GA" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i> Robert Spears
                </a>
            </li>
        </ul>
    </footer>

</body>
</html>