<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
    <thymeleaf th:replace="fragments :: meta" />
    <title>theBeerTracker</title>
</head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div id="page-wrapper">
    <div class="bottle-background">
        <div class="container">
            <div class="content">
                <div th:replace="fragments :: breadcrumbs"></div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <h3 class="col-md-4 col-sm-12">Current Selection</h3>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="beer-frame col-md-3 col-sm-12">
                        <div class="beer-image-container">
                            <img id="bottle-image" />
                        </div>
                        <div class="beer-details">
                            <h3><a class="nounderline beer-name" href="#" th:text="${randomBeer}"></a></h3>
                            <p>
                                Lorem ipsum dolor sit amet, cu est consul aperiam, ut qui numquam complectitur.
                                In probatus atomorum quo, fabellas disputando eu eum. Pro ne erat inimicus.
                                Cu ancillae evertitur vis.
                            </p>
                        </div>
                    </div>
                    <div class="beer-decision col-md-4 col-sm-12">
                        <h3>Do you want this beer?</h3>
                        <div class="decision-btn-container">


                            <form method="post">
                                <input type="hidden" name="beerButton"  th:value="yes" />
                                <input class="beer-game-btn yes-btn" type="submit" value="Yes! Beer Me!" />
                            </form>
                            <!--<form method="post" action="/gameplay">-->
                            <form method="post" action="/gameplay">
                                <input type="hidden" name="beerButton"  th:value="no" />
                                <input class="beer-game-btn no-btn"  type="submit" value="I want another one." />
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- end content -->
        </div><!-- end container -->
    </div><!-- end bottle-background -->

    <footer th:replace="fragments :: footer"></footer>

</div><!--End page-wrapper-->

<thymeleaf th:replace="fragments :: js-bootstrap" />
<script src="/js/gameplay.js"></script>

</body>
</html>