<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<br/>
<!--
<form method="post">
    <table>
        <tr>
            <td>Username</td>
            <td>
                <input name="username"/>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input name="password" type="password"/>
            </td>
        </tr>
        <tr>
            <td>Verify Password</td>
            <td>
                <input name="verify" type="password"/>
            </td>
        </tr>

    </table>
    <br/>
    <input type="submit" value="Register"/>


</form>
-->

<form method="post" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="userName">Name</label>
        <input class="form-control" th:field="*{userName}" />
        <span th:errors="*{userName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="hash">Password</label>
        <input class="form-control" th:field="*{hash}" />
        <span th:errors="*{hash}" class="error"></span>
    </div>


    <input type="submit" value="Register" />
</form>






</body>
</html>