<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
  <thymeleaf th:replace="fragments :: meta" />
  <title th:text="${userName}"></title>
</head>

<body>
  <nav th:replace="fragments :: navigation"></nav>
  <div id="page-wrapper">
    <div class="bottle-background">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-md-12" id="title">
              <h1 class="text-center">Welcome Home, <span th:text="${userName}"></span>!</h1>
            </div>
          </div>
          <div>
            <div id="big-button">
              <form method="post" >
                <input type="hidden" name="beerButton"  th:value="go" />
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="gameplay_red()">Play GAME!</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class ="col-md-3 tried-section">
              <section class="sidebar">
                <h2>Beers You've Tried</h2>
                <p th:unless="${searchResults} and ${searchResults.size()}">You need to drink some beer!</p>
                <table class="table" style="max-width: 400px">
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>ABV</th>
                  </tr>

                  <tr th:each="beer : ${searchResults}">
                    <td th:text="${beer.name}"></td>
                    <td th:text="${beer.description}"></td>
                    <td th:text="${beer.abv}"></td>
                  </tr>
                </table>
              </section>
            </div>

            <!--<div class ="row">-->
            <div class ="col-md-9">
              <h2 class="text-center">Check Out The Locations!</h2>
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div><!--End container-->
    </div><!--End bottle-background-->
    <footer th:replace="fragments :: footer"></footer>
  </div><!--End page-wrapper-->
  <input type="hidden" th:value="${locations}" id="locations" />
  <input type="hidden" th:value="${userLocation}" id="userLocation" />

  <thymeleaf th:replace="fragments :: js-bootstrap" />
  <script async='async' defer='defer' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIWLPDbglXWLa4RutJew14eb3pHVu_kUs&amp;callback=initMap"></script>
  <script type="text/javascript" th:src="@{/js/only_map.js}"></script>
  <script type="text/javascript" th:src="@{/js/gameplay-redirect.js}"></script>

</body>
</html>